body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background: #e1e1e1;
  padding: 0.7rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: #003366;
  font-weight: bold;
  text-decoration: none;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

.country-list button {
  background: #0066cc;
  border: none;
  padding: 10px 15px;
  color: white;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.country-list button:hover {
  background: #004f99;
}

footer {
  margin-top: 50px;
  background: #003366;
  color: white;
  padding: 1rem;
  text-align: center;
}
